.App {
  text-align: center;
  display:flex;
  background-color: #ededed21;
  color: brown;
  position: absolute;
  top:0; bottom:0; left:0; right: 0;
  background-color: gray;
}

.sidemenu {
  width: 140px;
  height:400px;
  border:1px solid blue;
  padding:10px;
}

.side-menu-button {
  padding:15px;
  border:1px solid black;
  border-radius:5px;
  text-align:left;
  transition: ease 0.25s all;
}
.side-menu-button:hover {
  background-color: rgba(255,255,255,0.1);
}

.chat-input-textarea {
  color:white;

  background-color: #40414f;
  width:100%;
  border-radius: 5px;
  border:none;
  marginZZZ:12px;
  outline: none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5)

}

.chatbox{
  flex:1;
  border:1px solid red;

}

.myForm{
  width:100%;
  border:1px solid blue;
}



/* ----------------------------------------- */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container { color: rgb(9, 17, 14);background-color: #c0cbe0;}


.conversationId {
  font-weight: 300; font-size: 20px;
}


/*  */

.cnvToggle {
  overflow: scroll;
  height: 100%;
  border: 1px solid green;
}

.cnvTapeQuestionRow {
  background-color: #dbdbdb !important;
}

.cnvTapeAnswerRow {
  background-color: #ededed !important;
}

.cnvDebugClass{
  height: 200px;
  background-color: lightblue !important;
  overflow-y: scroll;
}

.cnvQuestion {
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px 2px 2px 2px;
}
.cnvAnswer {
  border: 1px solid black;
}

.cnvScroll{
  width:100%;
  height: 400px;
  background-color: lightyellow;
  padding-left: 10px; padding-right: 10px;
  overflow-y: scroll;
  text-align: left;
}
/*  */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

