.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container { color: rgb(9, 17, 14);background-color: #c0cbe0;}


.conversationId {
  font-weight: 300; font-size: 50px;
}


/*  */
.cnvTapeQuestionRow {
  background-color: #dbdbdb !important;
}

.cnvTapeAnswerRow {
  background-color: #ededed !important;
}
/*  */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

